body {
  font-family: "Clash Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.416),
      rgba(4, 9, 30, 0.345)
    ),
    url(../images/Hero5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
 
}
.parkHeader {
  min-height: 50vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.334);
  position: sticky;
  top: 0;
  z-index: 99;
}

nav img {
  margin-right: 10px;
}

nav h2 {
  margin: 0;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background-color: #ffa500;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
}

nav a:hover::after {
  width: 100%;
}

nav h2 {
  margin: 0;
  color: #fff;
  font-size: 33px;
}


.search-input {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}



/* Button styles */

.search-button {
  border-radius: 10px;
  background: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background 0.6s ease;
  padding: 5px 10px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(18, 18, 18, 0.2);
}

.search-button:hover {
  background: #ffa500;
}

.button {
  padding: 8px 16px;
  background: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.6s ease;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(172, 168, 168, 0.2);
  margin-right: 2px;
}

.button:hover {
  background: #ffa500;
}

.btn-outline-secondary {
  color: #ffa500;
  background-color: transparent;
  border: 2px solid #ffa500;
}


.btn-outline-secondary:hover {
  background-color: #ffa500;
  border-color: #ffa500;
}

.content {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.fullcontent {
  background-color: rgba(255, 255, 255, 0.415);
  min-height: 100vh;
  
}


.welcomeText {
  margin-top: 50px;
  margin-left: 130px;
}

.container {
  position: relative;
  z-index: 1;
  margin-bottom: 90px;
  margin-top: 20px;
}

.MountainGuy {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
  cursor: pointer;
}

.mission-container {
  display: inline-block;

}

.mission-col {
  margin: 0 20px;
  margin-bottom: 70px;
  margin-top: 0px;
}

.text {
  background-color: rgba(157, 164, 157, 0.392);
  border-radius: 300%;
}

.search {
  max-width: 50%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
}


#searchInput {
}

.image-container {
  display: flex;
}
/* to scroll*/
.scroll-container {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  
}

.scroll-container img {
  padding: 10px;
  transition: filter 0.3s ease;
}

.scroll-container img:hover {
  filter: brightness(70%);
}

.parks {
  padding: 30px;
}
.parks > h1 {
  text-align: center;
}

.choose-park {
  text-align: center;
  margin-top: 40px;
  color: #fff;
}
.parksContainer,
.mountainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.parkCard {
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.2);
}



